footer.py-5.justify-content-center.mt-5

    .row.container 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="/about") nosotros
                a.nav-link(href="/viajes") viajes
                a.nav-link(href="/testimoniales") testimoniales 
        .col
            p.copyright.text-center.text-md-right 
                | Copyright #{year} - #{year+1}