header 
    .navegacion 
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4 
                .col-md-4.col-6
                    a(href='/')
                        img(src='/img/logo.svg')
                .col-md-8
                    nav.nav.mt-5.mt-md-0.justify-content-center.justify-content-md-end
                        a.nav-link(href='/about') nosotros
                        a.nav-link(href='/viajes') viajes
                        a.nav-link(href='/testimoniales') testimoniales 