main.container.mt-5
    .row 
        .col-md-5
            img(src="/img/nosotros.jpg", alt="").img-fluid

        .col-md-7

            h1 #{pagTitle}

            blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo excepturi vero blanditiis aliquam delectus nam maiores totam, quia reiciendis. Accusantium quae ab similique aperiam exercitationem ex odit suscipit temporibus.

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit delectus obcaecati suscipit nihil adipisci quaerat exercitationem, quos maxime ipsa facere sed asperiores, hic labore ex praesentium, vel rem quis in!

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem pariatur sequi repudiandae velit at sapiente, aperiam laboriosam illo illum omnis exercitationem fugit cupiditate molestiae dolor dignissimos accusantium in nostrum optio.
.listado-iconos.overflow-hidden.mt-5.py-5.text-center
    .row
            .col-md-4 
                img(src="/img/icono_seguridad.svg", alt="")
                h2 Seguridad 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi magnam fugit nostrum consectetur, dignissimos nesciunt consequuntur earum saepe, unde aut beatae iure praesentium! Dolore nisi sint quibusdam quas aut.
            .col-md-4 
                img(src="/img/icono_destinos.svg", alt="")
                h2 Destino  
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi magnam fugit nostrum consectetur, dignissimos nesciunt consequuntur earum saepe, unde aut beatae iure praesentium! Dolore nisi sint quibusdam quas aut.
            .col-md-4 
                img(src="/img/icono_precio.svg", alt="")
                h2 Precio 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi magnam fugit nostrum consectetur, dignissimos nesciunt consequuntur earum saepe, unde aut beatae iure praesentium! Dolore nisi sint quibusdam quas aut.